<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Executive Inventory</title>
</head>
<body>
  <h1>Executive: Inventory</h1>

  <table>
    <tr>
        <th>Item name</th>
        <th>Quantity</th>
        <th>Units</th>
        <th>Date</th>
      </tr>
    <% for(var i=0; i<records.length; i++) {%>
      <tr>
        <td><a href="/item" class="btn btn-default btn-lg"><i class="fa fa-flag fa-fw"></i> <span class="network-name"><%= records[i].item %></span></a></td>
        <td><span><%= records[i].quantity %></span></td>
        <td><span><%= records[i].units %></span></td>
        <td><span><%= records[i].date %></span></td>
    </tr>
  <% } %>
  </table>
  <br>
  <form action="/addItem" method="POST">
    Item <input type="text" placeholder="item" name="item"><br>
    Quantity <input type="text" name="quantity"><br>
    Units <input type="text" name="units"><br>
    Date <input type="date" name="date"><br>
    <button type="submit">Submit</button>
  </form>
  <br>
  <a href="/about">About</a>

</body>
</html>
