<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inventory Item</title>
</head>
<body>
  <p><% for(var i=0; i<records.length; i++) {%>
    <tr>
      <td><span><%= records[i].mylog %></span></td></p>
    </tr>
  <% } %>
</body>
</html>
