<!DOCTYPE html><!-- Latest compiled and minified CSS -->

<html lang="en">
<head>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  
  <title>Shift Leader</title>

</head>
<body>
  <h1>Shift Leader</h1>

  <table class="table table-sm">
    <tr>
        <th>Item name</th>
        <th>Quantity</th>
        <th>Units</th>
        <th>Date</th>
      </tr>
    <% for(var i=0; i<records.length; i++) {%>
      <tr>
        <td><a href="/item" class="btn btn-default btn-lg"><i class="fa fa-flag fa-fw"></i> <span class="network-name"><%= records[i].item %></span></a></td>
        <td><span><%= records[i].quantity %></span></td>
        <td><span><%= records[i].units %></span></td>
        <td><span><%= records[i].date %></span></td>
    </tr>
  <% } %>
  </table>
  <br>
  <div data-role="main" class="ui-content">
    <a href="#addPop" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all ui-icon-check ui-btn-icon-left">Add Item</a>

<div data-role="popup" id="addPop" class="ui-content" style="min-width:250px;">
  <form action="/addItem" method="POST">
    Item <input type="text" placeholder="item" name="item"><br>
    Quantity <input type="text" name="quantity"><br>
    Units <input type="text" name="units"><br>
    Date <input type="date" name="date"><br>
    <button type="submit">Submit</button>
  </form>
</div>
</div>
<br>
<div data-role="main" class="ui-content">
  <a href="#modPop" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all ui-icon-check ui-btn-icon-left">Modify Item</a>

<div data-role="popup" id="modPop" class="ui-content" style="min-width:250px;">
<form action="/modify" method="POST">
  Item <input type="text" placeholder="item" name="item"><br>
  Quantity <input type="text" name="quantity"><br>
  Date <input type="date" name="date"><br>
  <button type="submit">Submit</button>
</form>
</div>
</div>

<div data-role="main" class="ui-content">
  <a href="#remPop" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all ui-icon-check ui-btn-icon-left">Remove Item</a>

<div data-role="popup" id="remPop" class="ui-content" style="min-width:250px;">
<form action="/remove" method="POST">
  Item <input type="text" placeholder="item" name="item"><br>
  <button type="submit">Submit</button>
</form>
</div>
</div>
  <br>
  <a href="/about">About</a>


  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>
</html>
