<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Shift Leader</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/landing-page.css" >
  <!-- Custom Fonts -->
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" >
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" >
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
  <h1>Shift Leader</h1>

  <table class = "table">
    <tr>
        <th>Item name</th>
        <th>Quantity</th>
        <th>Units</th>
        <th>Date</th>
      </tr>
    <% for(var i=0; i<records.length; i++) {%>
      <tr>
        <td><span><%= records[i].item %></span></td>
        <td><span><%= records[i].quantity %></span></td>
        <td><span><%= records[i].units %></span></td>
        <td><span><%= records[i].date %></span></td>
    </tr>
  <% } %>
  </table>
  <br>
  <div data-role="main" class="ui-content">
    <a href="#addPop" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all ui-icon-check ui-btn-icon-left">Add Item</a>

<div data-role="popup" id="addPop" class="ui-content" style="min-width:250px;">
  <form action="/addItem" method="POST">
    Item <input type="text" placeholder="item" name="item"><br>
    Quantity <input type="text" name="quantity"><br>
    Units <input type="text" name="units"><br>
    Date <input type="date" name="date"><br>
    <button type="submit">Submit</button>
  </form>
</div>
</div>
<br>
<div data-role="main" class="ui-content">
  <a href="#modPop" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all ui-icon-check ui-btn-icon-left">Modify Item</a>

<div data-role="popup" id="modPop" class="ui-content" style="min-width:250px;">
<form action="/modify" method="POST">
  Item <input type="text" placeholder="item" name="item"><br>
  Quantity <input type="text" name="quantity"><br>
  Date <input type="date" name="date"><br>
  <button type="submit">Submit</button>
</form>
</div>
</div>

<div data-role="main" class="ui-content">
  <a href="#remPop" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all ui-icon-check ui-btn-icon-left">Remove Item</a>

<div data-role="popup" id="remPop" class="ui-content" style="min-width:250px;">
<form action="/remove" method="POST">
  Item <input type="text" placeholder="item" name="item"><br>
  <button type="submit">Submit</button>
</form>
</div>
</div>
  <br>
  <a href="/about">About</a>

</body>
</html>
