<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Campus Kitchen Shift Leader</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/landing-page.css" >

    <!-- DataTables CSS -->
    <link href="../datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../datatables-responsive/dataTables.responsive.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" >

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
  </style>

</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
      <div class="container topnav">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand topnav" href="/home">Home</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="/about">About</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

        <form action="/addSafety4" method="POST">
              <h4><dt>Add Item:
              <input class="form-control form-control-sm"type="date" placeholder="Date" name="date">
              <input class="form-control form-control-sm"type="text" placeholder="Supervisor" name="supv">
              <input class="form-control form-control-sm"type="text" placeholder="Product" name="product">
              <input class="form-control form-control-sm"type="time" placeholder="Arrival Time" name="arrtime">
              <input class="form-control form-control-sm"type="text" placeholder="Arrival Temp" name="arrtemp">
              <input class="form-control form-control-sm"type="time" placeholder="Heating Time" name="heattime">
              <input class="form-control form-control-sm"type="text" placeholder="Heating Temp" name="heattemp">
              <input class="form-control form-control-sm"type="time" placeholder="Hot Holding Time" name="hholtime">
              <input class="form-control form-control-sm"type="text" placeholder="Hot Holding Temp" name="hholtemp">
              <input class="form-control form-control-sm"type="time" placeholder="Serving Time" name="servetime">
              <input class="form-control form-control-sm"type="text" placeholder="Serving Temp" name="servetemp">
              <input class="form-control form-control-sm"type="text" placeholder="Initials" name="initials">
              <button class="btn btn-success btn-lg btn-block" type="submit">Submit</button>

            </dt></h4>
        </form>

          <!-- jQuery -->
          <script src="../jquery/jquery.min.js"></script>

              <!-- DataTables JavaScript -->
          <script src="../datatables/js/jquery.dataTables.min.js"></script>
          <script src="../datatables-plugins/dataTables.bootstrap.min.js"></script>
          <script src="../datatables-responsive/dataTables.responsive.js"></script>
          <!-- Page-Level Demo Scripts - Tables - Use for reference -->
          <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js">

          </script>
          <script>
           $(document).ready(function() {
               $('#dataTables-example').DataTable({
                   responsive: true
               });
           });

               </script>
</body>
</html>
